<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Audio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="bg-light vh-100">
    <div class="position-absolute top-0 start-0 m-4">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
    </div>
    <div class="container d-flex flex-column align-items-center justify-content-center h-100">
        <button id="startStopRecording" class="btn btn-info mb-2">Start Recording</button>
        <div id="uploadStatus" class="mt-2"></div>
        <audio id="audioPlayback" controls class="mb-2"></audio> <!-- Initially hidden -->
        <button id="predictButton" class="btn btn-warning mb-2">Predict Emotion</button> <!-- Initially hidden -->
        <div id="predictionStatus" class="mt-2"></div>
        <div id="predictionResult" class="text-lg font-bold mb-4"></div>
        <canvas id="emotionChart" class="w-full max-w-xl h-64"></canvas> <!-- Initially hidden -->
    </div>
    <script defer src="{{ url_for('static', filename='js/record.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
